<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoAdvisor</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/default.css" />
    <link rel="stylesheet" href="../static/header.css" />
    <link rel="stylesheet" href="../static/main.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img
          class="logo-image"
          src="../static/Images/logo-image.png"
          alt="logo-img"
        />
        <div class="logo-text">AutoAdvisor</div>
      </div>
      <h1 class="message">Let's Take Care Of Your Car Loan</h1>
      <div class="info-buttons">
        <button class="info-button">About</button>
        <button class="info-button">Contact</button>
      </div>
    </header>
    <main>
      <h2 class="intro">
        <p class="intro-text">
          Follow The Checkpoints To Getting Your interest
        </p>
      </h2>
      <form
        class="full-input"
        action="/analyze"
        enctype="multipart/form-data"
        method="POST"
      >
        <!--Form for the two pdfs-->
        <label for="loan-agreement">Loan Agreement</label>
        <input
          type="file"
          accept="image/*"
          name="loan-agreement"
          id="loan-agreement"
        />
        <label for="purchase-price">Purchase Price</label>
        <input name="purchase-price" type="number" id="purchase-price" />
        <label for="age">Age</label>
        <input name="age" type="number" id="age" />
        <label for="credit-score">Credit score</label>
        <input name="age" type="number" id="age" />
        <button type="submit">Submit</button>
        <h3>Your Data:</h3>
        <p>
          make: {{make}} model: {{model}} year: {{year}} loan term:
          {{loan_term}} interest rate: {{their_interest_rate}} our interest rate: {{our_interest_rate}}
        </p>
        <div class="loan-agreement-container">
          <label for="loan-agreement"
            >Loan Agreement
            <br />
            <input
              class="input-loan-agreement"
              type="file"
              accept="image/*"
              name="loan-agreement"
              id="loan-agreement"
            />
          </label>
        </div>
        <div class="purchase-price-container">
          <label for="purchase-price"
            >Purchase Price
            <br />
            <input
              name="purchase-price"
              type="number"
              id="purchase-price"
              placeholder="input"
            />
          </label>
        </div>
        <div class="downpayment-container">
          <label for="downpayment"
            >Down Payment
            <br />
            <input
              name="downpayment"
              type="number"
              id="downpayment"
              placeholder="input"
            />
          </label>
        </div>
        <div class="age-container">
          <label for="age"
            >Age
            <br />
            <input name="age" type="number" id="age" placeholder="input" />
          </label>
        </div>
        <div class="credit-score-container">
          <label for="credit-score"
            >Credit score
            <br />
            <input name="age" type="number" id="age" placeholder="input" />
          </label>
        </div>
        <button class="submit" type="submit">Submit</button>
        <!--Retuns the flask variables parsed from all the data-->
      </form>
      <h3>Your Data:</h3>
      <p>
        make: {{make}} model: {{model}} year: {{year}} loan term: {{loan_term}}
        interest rate: {{interest_rate}}
      </p>
    </main>
  </body>
</html>
